.nav-item a:hover{
    color: #1BA12D
}
.nav-item a::before  {
  
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background: #1BA12D;
    border-radius: 50px;
    transform: scaleX(0);
    transform-origin: center ;
    transition: transform 0.4s ease-in;
}

.nav-item a:hover::before{
    transform: scaleX(1);
    transform-origin: center;
}